body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: inherit;
    border-collapse: collapse;
}

td {
    font-size: 1em;
    border: 1px solid #fb912a;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #fb912a;
    color: #ffffff;
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: large;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/* 
	HEADER ELEMENTS 
*/
img {
	display: block;
}

.header img {
  float: left;
  width: 100px;
  height: 66px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.text-center {
  text-align: center;
}

.center {
	width: 30%;
	margin: 0 auto;
}
